@import "_variables";

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-page {

  background: $dark-grey;

  .home-container {
    text-align: center;
    padding: 0 20px;

    .main-logo {
      width: 80%;
      max-width: 400px;
      margin: 40px 0;
    }

    h1 {
      color: $white;
      margin-bottom: 20px;
    }
  
    .subtitle {
      color: $white;
    }

    .ghost-button {
      margin: 20px 0;
    }
  }
}

