<div class="home-container">

  <%= image_tag 'bycoders_logo.png', :class => 'main-logo' %>

  <h1><span class='by-green'>CNAB</span> Manager</h1>

  <div class='subtitle'>A melhor solução para importação de transações de arquivos CNAB</div>

  <a href='<%= transactions_path %>' class='ghost-button'>Visualizar transações</a>

</div>